
# Provided missing values and rename this file to aws.env

export DOJO_URL=https://causemos-analyst-api.dojo-modeling.com/api/dojo
export DOJO_USER=
export DOJO_PWD=
export CAUSEMOS_URL=https://api.causemos.ai
export CAUSEMOS_USER=
export CAUSEMOS_PWD=
export ES_URL=https://es-private.causemos.ai
export ES_USER=
export ES_PWD=